<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guitar</title>
</head>
<body>
<span th:text="${guitar.getName()}">Name</span><br>
<span th:text="${guitar.getId()}"></span><br>
<span th:text="${guitar.getAge()}"/><br>
<div th:text="${guitar.getDeveloperEmail()}"/><br>
<a th:href="@{/guitarsShop/{id}/editPage(id=${guitar.getId()})}"> Edit </a>
<form th:method="DELETE" th:action="@{/guitarsShop/{id}(id=${guitar.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>